<!DOCTYPE html>
<html lang="pt">

    <%- include('partials/head', {title: 'Novidades'}) %>

<body class="fundo">
    <div><%- include('partials/header') %></div>
    <link rel="stylesheet" href="./css/novidade.css" />
        <div class="conteudo">
            <h1 class="titulo">Novidades</h1>
            <div class="texto">
                <br>
                <h2>Para o próximo ano : </h2>
                <div class="card">
                    <div class="image">
                        <img src="./images/JogoStop.jpg">
                    </div >
                    <div class="content">
                        <h2>Jogo do Stop</h2>
                        <p> 
                            Este jogo consiste em o computador gerar uma letra aleatoriamente e o jogador terá de preencher nas várias 
                            categorias com a letra gerada aleatoriamente com um certo período de tempo.
                        </p>
                    </div>
                </div>
                <div class ="card">
                    <div class = "image">
                        <img src = "./images/Tetris_image.jpg">
                    </div>
                    <div class="content">
                    <h2>Tetris</h2>
                        <p>
                            É um jogo de quebra-cabeça onde o jogador manipula peças, que são formas geométricas compostas por quatro 
                            quadrados conectados. As peças caem do topo da tela e os jogadores devem organizá-las de forma a completar
                            linhas horizontais. Quando uma linha é completada, ela desaparece, criando espaço na tela. O objetivo do jogo 
                            é evitar que as peças alcancem o topo da tela, o que resultaria no fim do jogo. Com o tempo, as peças caem cada vez mais rápido, 
                            aumentando o desafio
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="imagem">
                        <img src ="./images/pacMan.jpg">
                    </div>
                    <div class="content">
                    <h2>Pac-Man</h2>
                        <p>
                            Pac-Man é um jogo de arcade, o jogador controla uma personagem amarela redonda chamado Pac-Man, que deve percorrer
                            um labirinto cheio de pontos e evitar ser capturado pelos quatro fantasmas coloridos: Blinky, Pinky, Inky e Clyde. 
                            O objetivo é comer todos os pontos no labirinto enquanto evita os fantasmas. Além dos pontos, há também poderes 
                            especiais que fazem os fantasmas ficarem azuis e vulneráveis, permitindo que o Pac-Man os coma para pontos extras. 
                            O jogo é dividido em níveis e torna-se progressivamente mais difícil à medida que o jogador avança.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>