<!DOCTYPE html>
<html lang="pt">
  <%- include('partials/head', {title: 'Sobre'}) %>

  <body class="fundo">
    <div><%- include('partials/header') %></div>
    <link rel="stylesheet" href="./css/sobre.css" />
    <div>
      <div class="container">
        <img class="logo_p" src="images/logo.png" alt="Logo do site" />
        <div>
          <img class="site-name-cima" src="images/nome_site_cima.png" />
          <img class="site-name-baixo" src="images/nome_site_baixo.png" />
        </div>
      </div>
      <p>A plataforma de jogos de navegador preferida.</p>
      <p>Vamos Jogar!</p>
      <div class="text">
        Bem-vindo ao Classic Games! Um website criado por três estudantes com o
        intuito de proporcionar diversão e entretenimento a todos os
        utilizadores. É um site composto por alguns jogos como, o jogo do galo,
        o jogo da forca e o jogo da memória. Estes jogos são jogos clássicos que
        todos conhecem. Desafiem-se alterando o nivel de dificuldade deste jogos
        que vos apresentamos. Podem ainda consultar as vossas pontuações e
        visualizar o ranking entre todos os utilizadores da plataforma. Joguem
        quantas vezes quiserem de forma gratuita! Esperamos que se divirtam!
      </div>
      <div class="floating-arrow"></div>
      <p id="os-criadores">Os criadores:</p>
      <div class="container-row">
        <div class="image-container">
          <div class="inner-container">
            <img src="images/mi.jpeg" alt="Image 1" />
          </div>
          <p class="nome">Milena</p>
        </div>
        <div class="image-container">
          <div class="inner-container">
            <img src="images/tania.jpeg" alt="Image 2" />
          </div>
          <p class="nome">Tânia</p>
        </div>
        <div class="image-container">
          <div class="inner-container">
            <img src="images/alexandre.jpeg" alt="Image 3" />
          </div>
          <p class="nome">Alexandre</p>
        </div>
      </div>
    </div>
  </body>
</html>
