/* titulo */
.center-container {
  display: flex;
  justify-content: center;
  height: 30vh;
  margin-top: 150px;
  margin-bottom: 50px;
}

.fundo_titulo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  height: 27%;
  background-color: rgba(78, 53, 142, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1 {
  font-size: 50px;
  color: #fff;
}

/* Para o jogo em si */
.container {
  margin-top: 100px;
  font-size: 16px;
  background-color: #fff;
  width: 90vw;
  max-width: 60em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 0.6em;
  box-shadow: 0 1.2em 2.42em rgba(0, 0, 0, 0.25);
}

#options-container {
  text-align: center;
}

#options-container div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.2em 0 2.4em 0;
}

#options-container button {
  padding: 0.6em 1.2em;
  border: 3px solid #8c52ff;
  background-color: #fff;
  color: #000;
  border-radius: 0.3rem;
  text-transform: capitalize;
  cursor: pointer;
}

#options-container button:hover {
  transition: 0.3s ease-in-out;
  background-color: #8c52ff;
  border: 3px solid #0000;
  color: #fff;
}

#options-container button:disabled {
  border: 3px solid #0000;
  color: #808080;
  background-color: #efefef;
}

#options-container button:active {
  background-color: #8c52ff;
  border: 3px solid #0000;
  color: #fff;
}

.letter-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6em;
}

#titleAndButton h3 {
  margin-bottom: -35px;
  color: #8c52ff;
}

.DicaButton {
  margin-left: 700px;
  padding: 0.6em 1.2em;
  border: 3px solid #8c52ff;
  background-color: #8c52ff;
  color: white;
  border-radius: 0.3rem;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: 50px;
}
.DicaButton:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.DicaButton:disabled {
  border: 3px solid #0000;
  color: #808080;
  background-color: #efefef;
}

#letter-container button {
  height: 2.4em;
  width: 2.4em;
  border-radius: 0.3em;
  background-color: #fff;
  cursor: pointer;
}

.new-game-popup {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.6em;
}

#user-input-section {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  margin: 0.6em 0 1.2em 0;
}

canvas {
  display: block;
  margin: auto;
  border: 10px solid #8c52ff;
  border-radius: 10px;
}

.hide {
  display: none;
}

#result-text h2 {
  font-size: 1.8em;
  text-align: center;
}

#result-text p {
  font-size: 1.25em;
  margin: 1em 0 2em 0;
}

#result-text span {
  font-weight: 600;
}

#new-game-button {
  font-size: 1.25em;
  padding: 0.5em 1em;
  background-color: #8c52ff;
  border: 3px solid #0000;
  color: #fff;
  border-radius: 0.2em;
  cursor: pointer;
}

.win-msg {
  color: green;
}

.lose-msg {
  color: #ff4d4d;
}

.my-confirm-button {
  background-color: rgba(104, 75, 176, 1) !important;
  width: fit-content;
}
#container {
  display: none;
}

#loadingScreen {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

#loadingScreen div {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Para telemóvel */
@media screen and (max-width: 600px) {
  /*Titulo*/
  .fundo_titulo {
    display: none;
  }
  h1 {
    display: none;
  }
  /* Para o jogo em si */
  .container {
    margin-top: 80px;
    font-size: 16px;
    background-color: #fff;
    width: 90vw;
    max-width: 34em;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em;
    border-radius: 0.6em;
    box-shadow: 0 1.2em 2.42em rgba(0, 0, 0, 0.25);
  }

  canvas {
    display: block;
    margin-left: -20px;
    border: 10px solid #8c52ff;
    border-radius: 10px;
  }

  .DicaButton {
    margin-left: 220px;
    padding: 0.6em 1.2em;
    border: 3px solid #8c52ff;
    background-color: #8c52ff;
    color: white;
    border-radius: 0.3rem;
    text-transform: capitalize;
    cursor: pointer;
    margin-bottom: 30px;
  }

  #titleAndButton h3 {
    margin-left: -20px;
    margin-bottom: -35px;
    color: #8c52ff;
  }
  .my-popup {
    width: 70%;
  }

  #loadingScreen {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  #loadingScreen div {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
}
