.center-container {
  display: flex;
  justify-content: center;
  height: 30vh;
  margin-top: 170px;
}

.fundo_titulo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%;
  height: 27%;
  background-color: rgba(78, 53, 142, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1 {
  font-size: 50px;
  color: #fff;
}

/* Menu principal */
.button-container {
  margin-top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Menu dificuldade*/
.button-container2 {
  margin-top: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button1 {
  margin-top: 30px;
  font-weight: 200;
  font-size: 25px;
  width: 347px;
  height: 118px;
  flex-shrink: 0;
  color: #fff;
  padding: 20px;
  background-color: rgba(78, 53, 142, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
  border: none;
}
.button1:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.button2 {
  font-weight: 200;
  font-size: 25px;
  margin-top: 30px;
  color: #fff;
  width: 347px;
  height: 118px;
  flex-shrink: 0;
  padding: 20px;
  background-color: rgba(78, 53, 142, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
  border: none;
}
.button2:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.button3 {
  font-weight: 200;
  font-size: 25px;
  margin-top: 30px;
  color: #fff;
  width: 347px;
  height: 118px;
  flex-shrink: 0;
  padding: 20px;
  background-color: rgba(78, 53, 142, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
  border: none;
}
.button3:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.button1.active {
  background-color: rgba(115, 75, 214, 1);
}

.button2.active {
  background-color: rgba(115, 75, 214, 1);
}

.button3.active {
  background-color: rgba(115, 75, 214, 1);
}

.button4 {
  margin-top: 100px;
  width: 174px;
  height: 95.347px;
  flex-shrink: 0;
  padding: 20px;
  background-color: rgba(78, 53, 142, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50px;
  border: none;
}

.button4:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

.fa-solid.fa-play {
  color: white;
  font-size: 50px;
  justify-content: center;
}
.my-confirm-button {
  background-color: rgba(104, 75, 176, 1) !important;
  width: fit-content;
}

@media screen and (max-width: 600px) {
  .fundo_titulo {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 273px;
    height: 121px;
    flex-shrink: 0;
    background-color: rgba(78, 53, 142, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-top: -50px;
  }

  /* Menu inicial */
  .button-container {
    margin-top: -120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /* Menu dificuldade */
  .button-container2 {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .button1 {
    margin-top: 30px;
    font-weight: 200;
    font-size: 20px;
    width: 173.039px;
    height: 64px;
    flex-shrink: 0;
    color: #fff;
    padding: 20px;
    background-color: rgba(78, 53, 142, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    border: none;
  }
  .button2 {
    font-weight: 200;
    font-size: 20px;
    margin-top: 30px;
    color: #fff;
    width: 173.039px;
    height: 64px;
    flex-shrink: 0;
    padding: 20px;
    background-color: rgba(78, 53, 142, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    border: none;
  }

  .button3 {
    font-weight: 200;
    font-size: 20px;
    margin-top: 30px;
    color: #fff;
    width: 173.039px;
    height: 64px;
    flex-shrink: 0;
    padding: 20px;
    background-color: rgba(78, 53, 142, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    border: none;
  }

  .button4 {
    margin-top: 100px;
    width: 83px;
    height: 74.571px;
    flex-shrink: 0;
    padding: 20px;
    background-color: rgba(78, 53, 142, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 50px;
    border: none;
  }

  .fa-solid.fa-play {
    color: white;
    font-size: 35px;
    justify-content: center;
    margin-left: 8px;
  }
  .my-popup {
    width: 70%;
  }
}
